# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Photo Editor/*
!/Photo Editor/task/
/Photo Editor/task/*
!/Photo Editor/task/src
!/Photo Editor/task/build.gradle
